/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Apple";
  font-weight: 400;
  src: url("public/font/AppleSDGothicNeoM.ttf") format('ttf')
}


:root {
  font-family: "Apple", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
